body{
    max-width: 1140px;
    margin: 0 auto;
    background-color: bisque;
    
    
}
div img{
    height: 300px;
    width: 100%;
    border-radius: 10px;
}
div button{
    background-color: brown;
    font-size: 1.25em;
    margin:20px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
}
div button:hover{
    background-color: green;
}
.hero-container{
    display: flex;
    gap:50px;
    margin: 20px;
    padding: 20px;
    align-items: center;
    background-color: lightgreen;
    border-radius: 10px;
}
.intro{
    align-items: center;
}